/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/ 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color:#333;
  }
/* latin-ext */
.navbar {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  display: flex;
}
/* latin */
.navbar h1{
 color: #30256d;
 background-color: whitesmoke;
 border-radius: '5px'
;
}
/* vietnamese */
.navbar .links {
  margin-left: auto;
}
/* latin-ext */
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
/* latin */
.navbar a:hover {
  color:#f1356d
}
/* vietnamese */
.content {
  max-width: 16px;
margin: 40px auto;
padding: 20px;

}
.World p   {
  color:#f1356d
}
